:root {
    --background-color-one: rgb(246, 247, 249);
    --background-color-two: rgb(0, 0, 0);
    --dialog-background-color: rgba(0, 0, 0, 0.877);
    --font-color-one: rgb(34, 31, 31);
    --font-color-one-tras: rgba(28, 26, 26, 0.566);
    --font-color-two: rgb(240, 235, 235);
    --header-background: rgb(255, 255, 255);
    --section-background: rgb(255, 255, 255);
    --footer-background: rgba(251, 251, 251, 0);
    --background-mask: rgba(0, 0, 0, 0.7);
    --action-button-color: #551985;
    --input-background-color: rgba(26, 26, 26, 0.863);
    --input-border-color: rgba(240, 235, 235, 0.831);
    --shadow: -16px 13px 19px -3px rgba(0, 0, 0, 0.122);
}
  
* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Auxilary classes */
  
.container {
    width: min(100% - 90px, 1080px);
    margin: 0 auto;
}

.index-container {
    width: min(100% - 90px, 1080px);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 
  
  
.flex {
    display: flex;
}
  
  
.flex-wrap {
    flex-wrap: wrap;
}
  
  
.space-around {
    justify-content: space-around;
}
  
  
.space-between {
    justify-content: space-between;
}
  
  
.center {
    justify-content: center;
    text-align: center;
}

.gap-5 {
    gap: 5px;
}
  
.gap-10 {
    gap: 15px;
}
  
  
.gap-40 {
    gap: 40px;
}

body {
    background-color: var(--background-color-one);
    font-family: sans-serif, Arial, Helvetica;
    color: var(--font-color-one);
    margin: 0;
    padding: 0;
    position: relative;
}

/* Index common styles */
aside {
    height: 500px;
    width: 500px;
}

.index-background-image {
    background: url("../img/index-image.jpg") center /cover no-repeat;
    height: 100%;
    width: 100%;
    color: var(--font-color-two);
}

.bg-logo {
    padding: 20px;
}

.index-logo {
    background: #ffffff00 url("../img/logo.png") center /cover no-repeat;
    width: 40px;
    height: 40px;
}

aside {
    width: 500px;
}

.form-title {
    padding: 0px 20px;
    p{
        color: var(--font-color-one-tras);
        font-weight: 800;
        font-size: 15px;
    }
}

.red {
    color: rgb(255, 0, 21)
}

.blue {
    color: #007bff;
}

.form-section {
    padding: 20px;
    height: 500px;
    width: 500px;

}

form {
    padding: 20px;
    margin-top: 40px;
    
}

a {
    color: var(--font-color-one-tras);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.wrong-login{
  color: rgb(255, 0, 0);
  position: absolute;
  top: 120px;
  font-size: 15px;
}

.input-group {
    border: 0.5px solid var(--font-color-one-tras);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.5),
              5px 5px 10px rgba(0, 0, 0, 0.2);
}

.input-group label {
    margin-top: 10px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #cccccc00;
    background-color: #ffffff00;
    color: var(--font-color-one);
}

.input-group input:focus {
    outline: none;
}

.highlight-p {
    color: var(--font-color-one-tras);
    font-weight: 800;
    font-size: 15px;
}

.login-btn {
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.5),
              5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #0056b3;
    }
}

.profile-btn {
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #007bff;
    border-radius: 3px;
    background-color: #fff;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.5),
              5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #0056b3;
        color: #fff;
    }

}

.upgrade-button {
    display: block;
    width: 150px;
    height: 50px;
    margin: 20px 0px;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: #fff;
    background-color: #007bff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.5),
              5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #0056b3;
        color: #fff;
    }
}

.button + .button {
    gap: 10px;
}

/* Home Page common styles */

/* Header */

header {
    height: 50px;
    width: 100%;
    background-color: var(--header-background);
}

.header-logo {
    background: #ffffff00 url("../img/logo.png") center /cover no-repeat;
    width: 40px;
    height: 40px;
    margin-top: -15px;
}

.search-bar {
    height: 25px;
    margin-top: -10px;
    border: 0.5px solid #fff; 
    i {
        color: var(--font-color-one-tras);
        margin: 2px;
    }
    input {
        background-color: #24242400;
    }
}

#password { width: 100%;
    padding: 8px;
    border-radius: 3px;
    background-color: #ffffff00;
}

li {
    text-align: center;
    margin: 5px;
    font-weight: 200;
    font-size: 15px;
    i {
        color: var(--font-color-one-tras);
        font-size: 20px;
    }
}

.nav-profile-picture {
    background: url(../img/profile-image.jpg) center/ cover no-repeat;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 40px;

}

/* Main Page */

/* Profile Section */
.profile-picture {
    align-items: center;
    background: url(../img/profile-image.jpg) center/ cover no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.profile-picture-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section {
    background-color: var(--background-color-one);
    height: 100%;
    border: 2px solid var(--background-color-one);
    margin: 20px 0px;
    border-radius: 5px;
    h2 {
        font-size: 20px;
    }
}

#profile {
    width: calc(25% - 20px);
    h2, h3, p {
        text-align: center;
    }
}

.profile-column {
    background-color: var(--section-background);
    border: 0.5px solid #fff;
    margin: 2px;
}

.section-column {
    background-color: var(--section-background);
    width: 50%;
    border: 0.5px solid #fff;
    margin: 2px;
    p {
        color: var(--font-color-one-tras);
    }
}

.upgrade-column {
    background-color: var(--section-background);
    border: 0.5px solid #fff;
    margin: 2px;
    justify-content: center;
    div {
        width: 100%;

    }
    .btn {
        width: 200px;
    }
}
/* Post Section */

#post {
    width: calc(50% - 20px);
}

.create-post {
    background-color: var(--section-background);
    border: 1px solid #fff;
    padding: 10px;
}

.post-column {
    background-color: var(--section-background);
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #fff;
}

.post-message {
    width: 100%;
    margin: 5px;
}

.post-profile {
    width: 40px;
    height: 40px;
    background-color: #0056b3;
    border-radius: 100px;
    margin: 5px;
    img{ 
        border-radius: 100px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.post-user-01 {
    background: url(../img/post-user-01.jpg) center/ cover no-repeat;
}

.post-user-02 {
    background: url(../img/post-user-02.jpg) center/ cover no-repeat;
}

.post-user-03 {
    background: url(../img/post-user-03.jpg) center/ cover no-repeat;
}

.post-info {
    i + i {
        margin-left: 20px;
    }
}

.post-option {
    text-align: center;
}

.post-01 {
    width: 100%;
    height: 250px;
    background: url(../img/post-01.jpg) center/ cover no-repeat;
}

/* People Section */

#people {
}

.people-title {
    background-color: var(--section-background);
    height: 40px;
    width: 250px;
    margin: 2px;
    padding: 5px 10px;
}

.add-people-column {
    background-color: var(--section-background);
    height: 80px;
    border: 2px solid var(--background-color-one);
    position: relative;
}

.people-photo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    img{ 
        border-radius: 100px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.people-info {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    p {
        color: var(--font-color-one-tras);
    }

}

.add-button {
    width: 20px;
    height: 20px;
    border: 0.5px solid #fff;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    i{
        margin-top: -5px;
    }
}